/* Common */

/* Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
    min-height: 100vh;
    max-width: 1280px;
}

header {
    grid-row-start: 1;
}

main {
    grid-row-start: 2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    grid-row-start: 3;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

/* Default tags */
/*input:focus:required:invalid {
    border: 2px solid red;
}*/

/* Header */

.header-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 1.25rem 4rem;
    margin: 1rem 0px;
}

.header-search {
    border-radius: 10px;
    border-width: 2px;
    border-color: darkgray;
    outline: none;
    padding: 0px 1rem;
}

.header-account-button {
    height: 2rem;
    width: 2rem;
}

.header-account-button a img {
    max-height: 100%;
    max-width: 100%;
}