@model BBG.Monolit.Models.ViewModels.Account.SearchViewModel;

<div class="block-reg background-white">
    @if (Model.UsersList.Count != 0)
    {
        @foreach (var user in Model.UsersList)
        {
            <div>
                <label>@user.GetFullName()</label>
                @if (!user.IsFriendWithCurrent)
                {
                    <form asp-area="" asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Добавить в друзья
                        </button>
                    </form>
                }
            </div>
        }
    }
    else
    {
        <label> Поиска не дал результатов</label>
    }
</div>
