@{
    ViewData["Title"] = "BBG ID";
}

<div class="home-autharization-container">
    <div class="info-container">

    </div>
    <div class="login-container">
        <h4 class="login-form-label">Вход в социальную сеть</h4>
        <form class="login-form">
            <label for="login-email-input">Email</label>
            <input id="login-email-input" name="loginEmail" type="email"/>

            <label for="login-password-input">Пароль</label>
            <input id="login-password-input" name="loginPassword" type="password" />

            <input id="login-remember" name="loginRemember" type="checkbox" />
            <label for="login-remember">Запомнить?</label>

            <a class="login-forgot-password">Забыли пароль?</a>
            <input class="login-submit-button" type="submit" value="Войти" />
        </form>
        <hr />
    </div>

    <div class="registration-container">
        <h4 class="register-form-label">Регистрация нового пользователя</h4>
        <form class="registaration-form">
            <label for="registartion-first-name">Имя</label>
            <input id="registartion-first-name" name="registationFirstName" type="text" maxlength="255" required/>

            <label for="registartion-last-name">Фамилия</label>
            <input id="registartion-last-name" name="registartionLastName" type="text" maxlength="255" required/>

            <label for="registration-email">Email</label>
            <input id="registration-email" name="registrationEmail" type="email" maxlength="255" required/>

            <label for="registration-password">Пароль</label>
            <input id="registration-password" name="registrationPassword" type="password" maxlength="255" required/>

            <input id="registration-eula" type="checkbox" />
            <label for="registration-eula">
                соглашаюсь с <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">политикой</a> обработки<br />персональных данных
            </label>

            <input class="registration-submit-button" type="submit" value="Регистрация" />
        </form>
    </div>
</div>
